<html>
<head>
    <link rel="stylesheet" href="static/leaflet/dist/leaflet.css"/>
    <script src="static/jquery.min.js"></script>
    <script src="static/leaflet/dist/leaflet.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/plugins/L.Control.SlideMenu.css">
    <link rel="stylesheet" href="static/plugins/easy-button.css">
    <link rel="stylesheet" href="static/cutouts.css">
    <script src="static/plugins/easy-button.js"></script>
    <script src="static/plugins/Leaflet.Control.Custom.js"></script>
    <script src="static/plugins/L.Control.SlideMenu.js"></script>
    <script src="static/help.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />


  <style>
    #map{ height: {{ heightDiv }}px ; width: {{ widthDiv }}px;}
    .box {
      width: {{ widthDiv }}px;
      height: {{ heightDiv }}px;
      overflow: hidden;
    }
    </style>
</head>

<body>

  <div class="box">
    <div style="width:  2550px; float:left;">
    <div id="map"></div>
  </div>
  </div>
      <script>

      document.getElementById("map").onkeydown = function (e) {
      		if(e.keyCode == '54') {
      			 e.stopPropagation();
      		}
      	};


      var map = L.map('map', {
        dragging: true,
        zoomDelta: 1,
        fullscreenControl: false,
        attributionControl: false,
        zoomControl:false,
        keyboardPanDelta: 80,
        }).setView([0,0], 0);

        var info = L.control();

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
            this.update();
            return this._div;
        };

        // method that we will use to update the control based on feature properties passed
        info.update = function (props) {
            this._div.innerHTML = '<h4> {{ username }} </h4> ' +
            ( props ? '<p>Image information</p>Name: ' + props.name + '<br /> Class: ' + props.class +
            '<br /><button onclick="clear_selected()"> Clear(c)</button>' : '');
        };

        info.addTo(map);


      var layer = L.tileLayer('{{ serverHost }}:{{ serverPort }}{{ rootUrl }}?x={x}&y={y}&z={z}&inv={inv}',
        {
          inv: 0,
          maxZoom: {{ maxZoom }},
          minZoom: {{ minZoom }},
          tileSize: {{ tileSize }},
          noWrap: true,
          crs: L.CRS.Simple
        })

        map.addLayer(layer);
        polygon = L.polygon([[0,0],[0,0.0001]]);
        map.addLayer(window.polygon);
        //map.keyboard.disable();
        window.onload = initdb();
        window.tileSize = {{ tileSize }};
        window.loaded_data = false;
        window.toggle_on = false;
        window.help_on = false;
        window.username = '{{ username }}';
        window.colors = ['pink','sienna','cyan','olive','azure','red', 'blue', 'orange', 'magenta', 'yellow'];
        window.classesName = new Array(10);
        window.validClassesCode = []
        {% for idx, cl in enumerate(classes) %}
        window.validClassesCode.push( {{ list(cl.values())[0] }} );
        window.classesName[{{ list(cl.values())[0] }}] = '{{ list(cl.keys())[0] }}';
       {% end %}
       window.classifiedTiles = {};
       toggle_classes();

        function getCoords(vx,vy,tileSize){
            var temp_coords = [
            map.unproject([vx*tileSize, vy*tileSize], map.getMaxZoom()),
            map.unproject([(vx+1)*tileSize, vy*tileSize], map.getMaxZoom()),
            map.unproject([(vx+1)*tileSize, (vy+1)*tileSize], map.getMaxZoom()),
            map.unproject([vx*tileSize, (vy+1)*tileSize], map.getMaxZoom())
            ];
            return temp_coords;
        };

	function selectTile(vx,vy,tileSize,zz){
        console.log('zoom = ',zz,'vz = ',vx,'vy = ', vy);
        map.removeLayer(window.polygon);
        window.coords = getCoords(vx,vy,tileSize);
        window.polygon = L.polygon(coords, {color: 'green', fillOpacity: 0.05});
        if (zz >= {{ minZoom }} ){
            $.get("{{ serverHost }}:{{ serverPort }}{{ rootUrl }}info", {user: window.username, x:vx, y:vy}, function(data, status){
            if (data.status == 404) {
               console.log('outside boundaries');
               window.vx = lastvx;
               window.vy = lastvy;
               window.zz = lastzz;
               selectTile(lastvx,lastvy,tileSize,lastzz);
               return;
            };
            window.lastvx = vx;
            window.lastvy = vy;
            window.lastzz = zz;
            console.log(data.name, data.class);
            if (data.name == '') {
              map.removeLayer(window.polygon);
              }
            else {
              map.addLayer(window.polygon);
              }
            if (data.class >= 0) {
               if (window.classifiedTiles[data.name] == undefined) {
               window.classifiedTiles[data.name] = {
                'class'  : data.class,
                'polygon': L.polygon(window.coords, {color: window.colors[data.class],  fillOpacity: 0.12}) };
            };
            };
            window.selected = data.name;
            var props = { 'name': window.selected, 'class':  window.classesName[data.class] }
            info.update(props);
          });
        };
	 };

        map.on('dblclick', function(event){
          //console.log(event.latlng);
          var pp = event.latlng;
          var dd = map.project(L.latLng(pp.lat,pp.lng),map.getMaxZoom);
          window.zz = map.getZoom();
          window.vx = Math.floor(dd.x*{{ tilesX }});
          window.vy = Math.floor(dd.y*{{ tilesY }});
	      selectTile(vx,vy,tileSize,zz);
          });


          map.on('contextmenu', function(event){
             var pp = event.latlng;
             var dd = map.project(L.latLng(pp.lat,pp.lng),map.getMaxZoom);
             window.zz = map.getZoom();
             window.vx = Math.floor(dd.x*{{ tilesX }});
             window.vy = Math.floor(dd.y*{{ tilesY }});
             selectTile(vx,vy,tileSize,zz);
            });




	  map.on('keypress', function(event){
        //console.log(event.originalEvent.keyCode);
	    event.originalEvent.preventDefault();
	    event.originalEvent.stopPropagation();

	    if (event.originalEvent.keyCode == 119) {
              vy = vy-1;
	          selectTile(vx,vy,tileSize,zz);
              var shift = -1*tileSize/Math.pow(2,map.getMaxZoom()-map.getZoom());
              map.panBy(L.point(0,shift));
              };


            if (event.originalEvent.keyCode == 97) {
              vx = vx-1;
	          selectTile(vx,vy,tileSize,zz);
              var shift = -1*tileSize/Math.pow(2,map.getMaxZoom()-map.getZoom());
              map.panBy(L.point(shift,0));
            };

	    if (event.originalEvent.keyCode == 115) {
              vy = vy+1;
	          selectTile(vx,vy,tileSize,zz);
              var shift = 1*tileSize/Math.pow(2,map.getMaxZoom()-map.getZoom());
              map.panBy(L.point(0,shift));
            };

	    if (event.originalEvent.keyCode == 100) {
              vx = vx+1;
	          selectTile(vx,vy,tileSize,zz);
              var shift = 1*tileSize/Math.pow(2,map.getMaxZoom()-map.getZoom());
              map.panBy(L.point(shift,0));
            };

            if (event.originalEvent.key == 'c') {clear_selected();};
            if (event.originalEvent.key == 't') {toggleClasses.button.click();};
            if (event.originalEvent.key == 'f') {map.toggleFullscreen();};
            if (event.originalEvent.key == 'h') {
              if (window.help_on) {sideHelp._animate(sideHelp._menu, -300, 0, true, true, 30);}
              else {sideHelp._animate(sideHelp._menu, 0, -300, false, true, 30)}
              window.help_on = !window.help_on;};

            if (event.originalEvent.key == '0') {custom(0);};
            if (event.originalEvent.key == '1') {custom(1);};
            if (event.originalEvent.key == '2') {custom(2);};
            if (event.originalEvent.key == '3') {custom(3);};
            if (event.originalEvent.key == '4') {custom(4);};
            if (event.originalEvent.key == '5') {custom(5);};
            if (event.originalEvent.key == '6') {custom(6);};
            if (event.originalEvent.key == '7') {custom(7);};
            if (event.originalEvent.key == '8') {custom(8);};
            if (event.originalEvent.key == '9') {custom(9);};

            });


        var southWest = map.unproject([{{ minYrange }}, {{ maxYrange }}], map.getMaxZoom());
        var northEast = map.unproject([{{ maxXrange }}, {{ minXrange }}], map.getMaxZoom());
        map.setMaxBounds(new L.LatLngBounds(southWest, northEast));

      var sideHelp = L.control.slideMenu(contentHelp, {'icon': 'fa-question'}).addTo(map);
      map.addControl(new L.Control.Fullscreen());
        L.easyButton( '<i class="myhelp fa fa-star-half-o" aria-hidden="true"></i>', function(){
          if (layer.options.inv == 0) {
            layer.options.inv = 1 ;
          }
          else {
            layer.options.inv = 0;
          }
          layer.redraw();
      }, 'Invert colors').addTo(map);

    var toggleClasses = L.easyButton({
              states: [{
                stateName: 'remove-classes',
                icon: '<i class="myhelp fa fa-eye" aria-hidden="true"></i>',
                title: 'Toggle classes off',
                onClick: function(control) {
                  toggle_classes();
                  control.state('add-classes');
                }
              }, {
                icon: '<i class="myhelp fa fa-eye-slash" aria-hidden="true"></i>',
                stateName: 'add-classes',
                onClick: function(control) {
                  toggle_classes();
                  control.state('remove-classes');
                },
                title: 'Toggle classes on'
              }]
            });
            toggleClasses.addTo(map);

      L.easyButton( '<i class="myhelp fa fa-random" aria-hidden="true"></i>', function(){
          var r = confirm("Are you sure you want to display a new random sample?");
          if (r) {reset();};
      }, 'New random set').addTo(map);
      L.easyButton( '<i class="myhelp fa fa-filter" aria-hidden="true"></i>', function(){
          filter();
      }, 'Filter').addTo(map);
      L.easyButton( '<i class="myhelp fa fa-refresh" aria-hidden="true"></i>', function(){
          redraw();
      }, 'Redraw/Reset view').addTo(map);

     var contentBottom = '' ;
     var contentBoxes = ' Filter: ' ;

    {% for idx, cl in enumerate(classes) %}
    contentBottom += '<button id="button_{{ list(cl.values())[0] }}" onclick="custom({{ list(cl.values())[0] }})">{{ list(cl.keys())[0] }}({{ list(cl.values())[0] }})</button>'
    {% end %}

    {% for idx, cl in enumerate(classes) %}
    contentBoxes += '<input type="checkbox" id="checkbox_{{ list(cl.values())[0] }}" >{{ list(cl.values())[0] }}'
    {% end %}
    contentBoxes += '<input type="checkbox" id="checkbox_noclass"/>-1'

      L.control.custom({
          position: 'bottomright',
          content : contentBottom,
          classes : 'btn-group',
          style   :
          {
              margin: '10px',
              padding: '0px 0 0 0',
              cursor: 'pointer',
          },
      })
      .addTo(map);


      L.control.custom({
          position: 'bottomleft',
          content : contentBoxes,
          classes : 'btn-group',
          style   :
          {
              margin: '5px',
              padding: '0px 0 0 0',
              cursor: 'pointer',
          },
      })
      .addTo(map);


        function custom(val) {
          var valid = window.validClassesCode.includes(val);
          if (valid){
          console.log(window.classesName[val]);
            if (window.classifiedTiles[window.selected]) {
                console.log('selected already', window.classifiedTiles[window.selected]);
            }
            else {
            window.classifiedTiles[window.selected] = {
                'class'  : val,
                'polygon': L.polygon(window.coords, {color: window.colors[val],  fillOpacity: 0.12}).bindTooltip(window.classesName[val]) };
            map.removeLayer(window.polygon);
            map.removeLayer(window.classifiedTiles[window.selected].polygon);
            map.addLayer(window.classifiedTiles[window.selected].polygon);
            $.get("{{ serverHost }}:{{ serverPort }}{{ rootUrl }}update", {user: window.username, gid:window.selected, class: window.classifiedTiles[window.selected].class });
            var props = { 'name': window.selected, 'class':  window.classesName[val] }
            info.update(props);
            };
          };
      }; //custom

      function clear_selected(){
          if (window.classifiedTiles[window.selected]) {
              map.removeLayer(window.classifiedTiles[window.selected].polygon);
              delete window.classifiedTiles[window.selected];
              map.removeLayer(window.polygon);
              map.addLayer(window.polygon);
              $.get("{{ serverHost }}:{{ serverPort }}{{ rootUrl }}update", {user: window.username, gid:window.selected, class:-1});
              var props = { 'name': window.selected, 'class':  -1 };
              info.update(props);
          };

      }; // clear_selected


      function toggle_classes(){
          if (!window.loaded_data){
         $.get("{{ serverHost }}:{{ serverPort }}{{ rootUrl }}getall", {user: window.username}, function(data){
             console.log('Getting data from server');
            for (i=0; i < data.names.length; i++) {
                var val = parseInt(data.classes[i])
                var tcoords = getCoords(parseInt(data.vx[i]),parseInt(data.vy[i]), window.tileSize);
                window.classifiedTiles[data.names[i]] = {
                    'class'  : val,
                    'polygon': L.polygon(tcoords, {color: window.colors[val],  fillOpacity: 0.12}).bindTooltip(window.classesName[val]) };
                map.removeLayer(window.classifiedTiles[data.names[i]].polygon);
                map.addLayer(window.classifiedTiles[data.names[i]].polygon);
            };
            delete data;
            window.loaded_data = true;
            window.toggle_on = true;
         });
        }
        else {
            console.log(window.toggle_on);
            if (window.toggle_on) {
                 for (key in window.classifiedTiles) { map.removeLayer(window.classifiedTiles[key].polygon);}
             }
            else {
                 for (key in window.classifiedTiles) { map.addLayer(window.classifiedTiles[key].polygon);}
             };
             window.toggle_on = !window.toggle_on;
         }
            };

        function random() {
         window.loaded_data = false;
         $.get("{{ serverHost }}:{{ serverPort }}{{ rootUrl }}random" , {user: window.username});
          location.reload(true);
          map.removeLayer(layer);
          map.addLayer(layer);
          layer.redraw();
          }
        function initdb() {
        var username = '{{ username }}';
         $.get("{{ serverHost }}:{{ serverPort }}{{ rootUrl }}initdb", {user:username});
          }

        function sort() {
         $.get("{{ serverHost }}:{{ serverPort }}{{ rootUrl }}sort");
          layer.redraw();
          }
        function redraw() {
         $.get("{{ serverHost }}:{{ serverPort }}{{ rootUrl }}redraw", {user: window.username}, function(){
          location.reload(true);
             });
          map.removeLayer(layer);
          map.addLayer(layer);
          layer.redraw();
          }
        function reset() {
         $.get("{{ serverHost }}:{{ serverPort }}{{ rootUrl }}reset", {user: window.username}, function(){
             location.reload(true);
             });
          map.removeLayer(layer);
          map.addLayer(layer);
          layer.redraw();
          }
        function filter() {
            var check = '';
        window.checked = [];
          for (i=0; i<10; i++) {
              var temp = document.getElementById("checkbox_"+i);
              if (temp) {
                  if (temp.checked){ check += i+','; window.checked.push(i);}
              }
          };
          var temp = document.getElementById("checkbox_noclass");
          if (temp.checked){ check += -1+',';}

          $.get("{{ serverHost }}:{{ serverPort }}{{ rootUrl }}filter", {user: window.username, checked:check}, function(){
              map.removeLayer(layer);
              map.addLayer(layer);
              layer.redraw();
              location.reload(true);
              });
          }
      </script>

</body>
</html>
