.App {
  display: flex;
  flex-direction: column;
}

.Header {
  float: left;
  background-color: #eaf3f7;
  height: 50px;
  padding-top: 12.5px;
  padding-left: 20px;
  width: 100vw;
  align-items: flex-start;
  font-size: 25px;
  color: white;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 1px 0 #b5babc;
}

.Header p {
  margin-top: 0;
  color: black;
}

.Filters {
  background-color: #37393a;
  height: 70px;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.Filters button {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}

#search-button {
  color: #eaf3f7;
}
#filter-button {
  color: #eaf3f7;
}
#view-button {
  color: #eaf3f7;
}

.Filters p {
  margin-top: 3px;
  font-size: 10px;
  color: #eaf3f7;
}